* {
  box-sizing: border-box;
  font-family: "Didact Gothic", sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 16px;
  background: #000;
}

.page-wrapper {
  display: grid;
  gap: 16px;
  width: 100%;
  grid-template-columns: 2.5fr 2.5fr 1.25fr 1.25fr 2.5fr;
  grid-template-rows: 80px auto;
  align-items: stretch;
  justify-items: stretch;
  height: 100vh;
}

.pad-32 {
  padding: 32px;
}

.header-1 {
  background: white;
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.logo {
  flex: 0 1 33%;
}

.logo img {
  margin-inline-start: 32px;
}

.header-1 nav {
  display: flex;
  flex: 0 1 33%;
  flex-direction: row;
  justify-content: space-between;
}

.header-1 nav a {
  text-decoration: none;
  color: black;
}

.header-2 {
  background: yellow;
  grid-column: 5/6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carrinho {
  display: flex;
  width: 140px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.carrinho p {
  width: 100px;
  display: inherit;
}

.carrinho p span {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  text-align: center;
  line-height: 24px;
  display: block;
  background-color: #000;
  color: #ffff;
  
}

.banner {
  background: white;
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner-text,
.banner-image {
  width: 50%;
  display: table;
  padding: 68px;
}

.banner-text h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  padding: 0;
}

.banner-text h2 {
  font-size: 28px;
  line-height: 32px;
  margin: 56px 0 16px 0;
  padding: 0;
}

.banner-text a {
  font-size: 21px;
  color: #ffff;
  background-color: #3963a4;
  padding: 12px 32px;
  cursor: pointer;
  margin-top: 24px;
  display: table;
  text-align: center;
}

.banner-text h4 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.banner-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.mondrian {
  background: #3963a4;
  grid-column: 3/5;
  grid-row: 2/4;
}

.mondrian h2,
.mondrian p {
  color: #ffff;
}

.texto {
  background: white;
  grid-column: 5/6;
  grid-row: 2/5;
}

.rietveld {
  background: yellow;
  grid-column: 1/2;
  grid-row: 3/5;
}

.rietveld img,
.mondrian img {
  max-width: 100%;
  height: auto;
}

.vermelho {
  background: red;
  grid-column: 2/3;
  grid-row: 3/5;
}

.branco {
  background: white;
  grid-column: 3/4;
  grid-row: 4/5;
}

.preto {
  background: black;
  grid-column: 4/5;
  grid-row: 4/5;
}
